{% if button_1_label != blank or button_2_label != blank %}
  <div li-if="button_1_label != blank or button_2_label != blank " class="u-button-wrapper">
    {% render 'button',
      attributes: button_1_attributes,
      label: button_1_label,
      variant: button_1_variant,
      mode: button_1_mode,
      url: button_1_url
    %}
    {% render 'button',
      attributes: button_2_attributes,
      label: button_2_label,
      variant: button_2_variant,
      mode: button_2_mode,
      url: button_2_url
    %}
  </div>
{% endif %}
