{% if button_1_label != blank or button_2_label != blank %}
  <div li-if="button_1_label != blank or button_2_label != blank " class="u-button-wrapper">
    {% render 'button' %}
    {% render 'button' %}
  </div>
{% endif %}
