{% assign show_button_1 = false -%}
{%- assign show_button_2 = false -%}
{%- if button_1_label != blank -%}
  {%- if button_1_mode == 'action' and button_1_action != blank -%}
    {%- assign show_button_1 = true -%}
  {%- elsif button_1_mode == 'link' and button_1_url != blank -%}
    {%- assign show_button_1 = true -%}
  {%- endif -%}
{%- endif -%}
{%- if button_2_label != blank -%}
  {%- if button_2_mode == 'action' and button_2_action != blank -%}
    {%- assign show_button_2 = true -%}
  {%- elsif button_2_mode == 'link' and button_2_url != blank -%}
    {%- assign show_button_2 = true -%}
  {%- endif -%}
{%- endif %}
{% if show_button_1 or show_button_2 %}
  <div li-if="show_button_1 or show_button_2" class="u-button-wrapper">
    {% render 'button',
      url: button_1_url,
      action: button_1_action,
      label: button_1_label,
      trigger: button_1_trigger,
      mode: button_1_mode,
      custom_class: button_1_custom_class,
      variant: button_1_variant
    %}
    {% render 'button',
      url: button_2_url,
      action: button_2_action,
      label: button_2_label,
      trigger: button_2_trigger,
      mode: button_2_mode,
      custom_class: button_2_custom_class,
      variant: button_2_variant
    %}
  </div>
{% endif %}
{% if false %}
  <div li-if="false" class="u-button-wrapper">
    <div class="u-display-contents">
      <div
        data-wf--preview-button-main--preview-variant="secondary"
        data-button=" "
        data-trigger="hover focus"
        class="button_main_wrap"
      >
        <div data-wf--clickable--variant="focus-ring-outside" class="clickable_wrap u-cover-absolute">
          <button type="button" aria-label="Button Text" class="clickable_btn"></button>
        </div>
        <div class="button_main_element w-variant-e85564cd-af30-a478-692b-71732aefb3ab">
          <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
          <div class="button_main_icon u-hide-if-empty"></div>
        </div>
      </div>
      <div
        data-wf--preview-button-main--preview-variant="primary"
        data-button=" "
        data-trigger="hover focus"
        class="button_main_wrap"
      >
        <div data-wf--clickable--variant="focus-ring-outside" class="clickable_wrap u-cover-absolute">
          <button type="button" aria-label="Button Text" class="clickable_btn"></button>
        </div>
        <div class="button_main_element">
          <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
          <div class="button_main_icon u-hide-if-empty"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
