<div class="w-embed">
  <style>
    ::before, ::after {
    	box-sizing: border-box;
    }
    .w-embed:before, .w-embed:after,
    .w-richtext:before, .w-richtext:after {
    	content: unset;
    }
    html {
    	background-color: var(--_theme---background);
    }
    button {
    	background-color: unset;
    	padding: unset;
    	text-align: inherit;
    }
    button:not(:disabled) {
    	cursor: pointer;
    }
    video {
    	width: 100%;
    	object-fit: cover;
    }
    svg {
    	max-width: 100%;
    }
    @media (prefers-color-scheme: light) {
    	option { color: black; }
    }
    img::selection {
    	background: transparent;
    }
    /* Typography */
    body {
    	font-smoothing: antialiased;
    	-webkit-font-smoothing: antialiased;
    }
    /* Clear Defaults */
    a:not([class]) {
    	text-decoration: underline;
    }
    p,blockquote,label {
    	font-family: inherit;
    	font-size: inherit;
    	font-weight: inherit;
    	line-height: inherit;
    	letter-spacing: inherit;
    	text-transform: inherit;
    	text-wrap: inherit;
    	margin-top: 0;
    	margin-bottom: 0;
    }
    select:has(option[value=""]:checked) {
    	color: color-mix(in lab, currentcolor 60%, transparent)
    }
    /* Selection Color */
    ::selection {
    	background-color: var(--_theme---selection--background);
    	color: var(--_theme---selection--text);
    }
    /* Margin Trim */ /*
    :is(.u-margin-trim,.w-richtext,.u-content-wrapper,[class*="u-container"],[class*="u-layout-column"]) > :not(:not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim) ~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim)),
    :is(.u-margin-trim,.w-richtext,.u-content-wrapper,[class*="u-container"],[class*="u-layout-column"]) > .u-display-contents > :not(:not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim) ~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim)) {
    	margin-top: 0;
    }
    :is(.u-margin-trim,.w-richtext,.u-content-wrapper,[class*="u-container"],[class*="u-layout-column"]) > :not(:has(~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim))),
    :is(.u-margin-trim,.w-richtext,.u-content-wrapper,[class*="u-container"],[class*="u-layout-column"]) > .u-display-contents > :not(:has(~ :not(.w-condition-invisible,.u-cover-absolute,.u-ignore-trim))) {
    	margin-bottom: 0;
    } */
    /* Line Height Trim */
    :not(.u-text-trim-off) > :is(h1,h2,h3,h4,h5,h6,p):not(.u-text-trim-off,:has([class*="u-text-"]))::before,
    [class*="u-text-"]:not(.u-text-trim-off,:has(h1,h2,h3,h4,h5,h6,p))::before {
    	content: "";
    	display: table;
    	margin-bottom: calc(-0.5lh + var(--_text-style-1---trim-top));
    }
    :not(.u-text-trim-off) > :is(h1,h2,h3,h4,h5,h6,p):not(.u-text-trim-off,:has([class*="u-text-"]))::after,
    [class*="u-text-"]:not(.u-text-trim-off,:has(h1,h2,h3,h4,h5,h6,p))::after {
    	content: "";
    	display: table;
    	margin-bottom: calc(-0.5lh + var(--_text-style-1---trim-bottom));
    }
    /* Rich Text Links */
    .w-richtext a {
    	position: relative;
    	z-index: 4;
    }
    /* Line Clamp */
    [class*="u-line-clamp"]:not(.w-richtext),
    [class*="u-line-clamp"].w-richtext > * {
    	display: -webkit-box;
    	-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    }
    [class*="u-line-clamp"].w-richtext > :not(:first-child) { display: none; }
    .u-line-clamp-2:not(.w-richtext), .u-line-clamp-2.w-richtext > * { -webkit-line-clamp: 2; }
    .u-line-clamp-3:not(.w-richtext), .u-line-clamp-3.w-richtext > * { -webkit-line-clamp: 3; }
    .u-line-clamp-4:not(.w-richtext), .u-line-clamp-4.w-richtext > * { -webkit-line-clamp: 4; }
    /* Text Max Width */
    .u-heading > *,
    .u-text > * {
    	width: 100%;
    	max-width: inherit !important;
      margin-inline: 0 !important;
    	margin-top: 0 !important;
    }
    /* Background Slot Children */
    .u-background-slot > * {
    	position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      aspect-ratio: unset;
    }
    /* Alignment */
    .u-alignment-inherit > * {
    	text-align: inherit;
    	justify-content: inherit;
    	align-items: inherit;
    }
    /* Hide */
    .u-hide-if-empty:empty,
    .u-hide-if-empty:has(> *):not(:has(> :not(.w-condition-invisible))),
    .u-hide-if-empty-cms:not(:has(.w-dyn-item)) {
    	display: none !important;
    }
    /* Focus State */
    a, button, :where([tabindex]), input, select, textarea {
    	outline-offset: var(--focus--offset-outer);
    }
    a:focus-visible,
    button:focus-visible,
    [tabindex]:focus-visible,
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible {
      outline-color: var(--_theme---text);
      outline-width: var(--focus--width);
      outline-style: solid;
    }
    /* Disabled */
    [data-button]:has(button:disabled) {
      opacity: 0.5;
      pointer-events: none;
    }
    /* Section */
    .u-section:has(.u-section-spacer) {
      padding-top: 0;
      padding-bottom: 0;
    }
    /* Icon */
    .u-icon svg {
      display: block !important;
      width: 100% !important;
      height: auto !important;
    }
    .u-icon path[stroke] {
      stroke: currentColor !important;
      stroke-width: var(--border-width--main);
      vector-effect: non-scaling-stroke;
    }
    .u-icon :is(path:not([stroke]), rect, circle, ellipse, polygon, polyline) {
      fill: currentColor !important;
    }
    /* Global / Clickable Component */
    .wf-design-mode .clickable_wrap { z-index: 0; }
    /* Number Attributes */
    [data-number="-1"]{--number: initial;}[data-number="0"]{--number: 0;}[data-number="1"]{--number:1}[data-number="2"]{--number:2}[data-number="3"]{--number:3}[data-number="4"]{--number:4}[data-number="5"]{--number:5}[data-number="6"]{--number:6}[data-number="7"]{--number:7}[data-number="8"]{--number:8}[data-number="9"]{--number:9}
    [data-number="10"]{--number:10}[data-number="11"]{--number:11}[data-number="12"]{--number:12}[data-number="13"]{--number:13}[data-number="14"]{--number:14}[data-number="15"]{--number:15}[data-number="16"]{--number:16}[data-number="17"]{--number:17}[data-number="18"]{--number:18}[data-number="19"]{--number:19}
    [data-number="20"]{--number:20}[data-number="21"]{--number:21}[data-number="22"]{--number:22}[data-number="23"]{--number:23}[data-number="24"]{--number:24}[data-number="25"]{--number:25}[data-number="26"]{--number:26}[data-number="27"]{--number:27}[data-number="28"]{--number:28}[data-number="29"]{--number:29}
    [data-number="30"]{--number:30}[data-number="31"]{--number:31}[data-number="32"]{--number:32}[data-number="33"]{--number:33}[data-number="34"]{--number:34}[data-number="35"]{--number:35}[data-number="36"]{--number:36}[data-number="37"]{--number:37}[data-number="38"]{--number:38}[data-number="39"]{--number:39}
    [data-number="40"]{--number:40}[data-number="41"]{--number:41}[data-number="42"]{--number:42}[data-number="43"]{--number:43}[data-number="44"]{--number:44}[data-number="45"]{--number:45}[data-number="46"]{--number:46}[data-number="47"]{--number:47}[data-number="48"]{--number:48}[data-number="49"]{--number:49}
    [data-number="50"]{--number:50}[data-number="51"]{--number:51}[data-number="52"]{--number:52}[data-number="53"]{--number:53}[data-number="54"]{--number:54}[data-number="55"]{--number:55}[data-number="56"]{--number:56}[data-number="57"]{--number:57}[data-number="58"]{--number:58}[data-number="59"]{--number:59}
    [data-number="60"]{--number:60}[data-number="61"]{--number:61}[data-number="62"]{--number:62}[data-number="63"]{--number:63}[data-number="64"]{--number:64}[data-number="65"]{--number:65}[data-number="66"]{--number:66}[data-number="67"]{--number:67}[data-number="68"]{--number:68}[data-number="69"]{--number:69}
    [data-number="70"]{--number:70}[data-number="71"]{--number:71}[data-number="72"]{--number:72}[data-number="73"]{--number:73}[data-number="74"]{--number:74}[data-number="75"]{--number:75}[data-number="76"]{--number:76}[data-number="77"]{--number:77}[data-number="78"]{--number:78}[data-number="79"]{--number:79}
    [data-number="80"]{--number:80}[data-number="81"]{--number:81}[data-number="82"]{--number:82}[data-number="83"]{--number:83}[data-number="84"]{--number:84}[data-number="85"]{--number:85}[data-number="86"]{--number:86}[data-number="87"]{--number:87}[data-number="88"]{--number:88}[data-number="89"]{--number:89}
    [data-number="90"]{--number:90}[data-number="91"]{--number:91}[data-number="92"]{--number:92}[data-number="93"]{--number:93}[data-number="94"]{--number:94}[data-number="95"]{--number:95}[data-number="96"]{--number:96}[data-number="97"]{--number:97}[data-number="98"]{--number:98}[data-number="99"]{--number:99}[data-number="100"]{--number:100}
    /* State Manager */
    [data-state] { --_state---true: 1; --_state---false: 0; }
    .is-active,
    .wf-design-mode [data-preview="True"],
    .wf-design-mode [data-preview]:not(:has(> [data-w-instance-of])),
    [data-state~="checked"]:is(:checked, :has(:checked)),
    [data-state~="current"]:is(.w--current, :has(.w--current)),
    [data-state~="open"]:is(.w--open, :has(.w--open)),
    [data-state~="pressed"]:is([aria-pressed="true"], :has([aria-pressed="true"])),
    [data-state~="expanded"]:is([aria-expanded="true"], :has([aria-expanded="true"])),
    [data-state~="external"]:is([target="_blank"], :has([target="_blank"])) {
    	--_state---true: 0; --_state---false: 1;
    }
    .wf-design-mode [data-trigger~="preview"],
    [data-trigger~="focus"]:is(:focus-visible, :has(:focus-visible)),
    [data-trigger~="group"]:has([data-trigger~="focus-other"]:focus-visible, [data-trigger~="focus-other"] :focus-visible)
      [data-trigger~="focus-other"]:not(:focus-visible, :has(:focus-visible)) {
    	--_trigger---on: 0; --_trigger---off: 1;
    }
    @media (hover: hover) {
    	[data-trigger~="hover"]:hover,
      [data-trigger~="hover-if-clickable"]:has(.clickable_wrap:not(.w-condition-invisible)):hover,
    	[data-trigger~="group"]:has([data-trigger~="hover-other"]:hover) [data-trigger~="hover-other"]:not(:hover) {
    		--_trigger---on: 0; --_trigger---off: 1;
    	}
    	[data-trigger~="hover-other"]:hover { --_trigger---on: 1 !important; --_trigger---off: 0 !important; }
    }
    @media (hover: none) {
      [data-trigger~="mobile"] { --_trigger---on: 0; --_trigger---off: 1; }
    }
    /* Slot Styler */
    [data-slot] > .w-dyn-list,
    [data-slot] > .w-dyn-list > *,
    [data-slot] > .w-dyn-list > * > *,
    [data-slot] > .u-display-contents > .w-dyn-list,
    [data-slot] > .u-display-contents > .w-dyn-list > *,
    [data-slot] > .u-display-contents > .w-dyn-list > * > *,
    [data-slot] > .u-display-contents > .u-display-contents > .w-dyn-list,
    [data-slot] > .u-display-contents > .u-display-contents > .w-dyn-list > *,
    [data-slot] > .u-display-contents > .u-display-contents > .w-dyn-list > * > * {
      display: contents;
    }
    /* Layout Slot */
    .u-layout-column-2:has(> :not(.u-image-wrapper,.u-video,.u-iframe-wapper,.u-overlay)) {
    	aspect-ratio: auto;
      border-radius: 0;
      overflow: visible;
    }
    /* Responsive Styles */
    [data-large-columns="1"] { display: flex; }
    [data-large-columns="2"] { display: grid; --_column-count---value: 2; }
    [data-large-columns="3"] { display: grid; --_column-count---value: 3; }
    [data-large-columns="4"] { display: grid; --_column-count---value: 4; }
    [data-large-columns="5"] { display: grid; --_column-count---value: 5; }
    [data-large-columns="6"] { display: grid; --_column-count---value: 6; }
    [data-large-columns="7"] { display: grid; --_column-count---value: 7; }
    [data-large-columns="8"] { display: grid; --_column-count---value: 8; }
    [data-large-columns="9"] { display: grid; --_column-count---value: 9; }
    [data-large-columns="10"] { display: grid; --_column-count---value: 10; }
    [data-large-columns="11"] { display: grid; --_column-count---value: 11; }
    [data-large-columns="12"] { display: grid; --_column-count---value: 12; }
    .slider_offset { --slide-count: var(--lg); --lg: 3; --md: var(--lg); --sm: var(--md); --xs: var(--sm); }
    @container (width < 53em) {
      * {
        --_responsive---large: 0;
        --_responsive---medium: 1;
        --flex-medium: flex;
        --none-medium: none;
        --column-medium: column;
        --row-medium: row;
        --start-medium: start;
        --center-medium: center;
        --end-medium: end;
    		--first-medium: -1;
    		--last-medium: 1;
    		--unset-medium: unset;
        --relative-medium: relative;
      }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="1"] { display: flex; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="2"] { display: grid; --_column-count---value: 2; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="3"] { display: grid; --_column-count---value: 3; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="4"] { display: grid; --_column-count---value: 4; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="5"] { display: grid; --_column-count---value: 5; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="6"] { display: grid; --_column-count---value: 6; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="7"] { display: grid; --_column-count---value: 7; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="8"] { display: grid; --_column-count---value: 8; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="9"] { display: grid; --_column-count---value: 9; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="10"] { display: grid; --_column-count---value: 10; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="11"] { display: grid; --_column-count---value: 11; }
      :not([data-wf--grid--variant*="auto"]) > [data-medium-columns="12"] { display: grid; --_column-count---value: 12; }
    	.slider_offset { --slide-count: var(--md); }
    }
    @container (width < 42em) {
      * {
        --_responsive---medium: 0;
        --_responsive---small: 1;
        --flex-small: flex;
        --none-small: none;
        --column-small: column;
        --row-small: row;
        --start-small: start;
        --center-small: center;
        --end-small: end;
    		--first-small: -1;
    		--last-small: 1;
    		--unset-small: unset;
    		--relative-small: relative;
      }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="1"] { display: flex; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="2"] { display: grid; --_column-count---value: 2; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="3"] { display: grid; --_column-count---value: 3; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="4"] { display: grid; --_column-count---value: 4; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="5"] { display: grid; --_column-count---value: 5; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="6"] { display: grid; --_column-count---value: 6; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="7"] { display: grid; --_column-count---value: 7; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="8"] { display: grid; --_column-count---value: 8; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="9"] { display: grid; --_column-count---value: 9; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="10"] { display: grid; --_column-count---value: 10; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="11"] { display: grid; --_column-count---value: 11; }
      :not([data-wf--grid--variant*="auto"]) > [data-small-columns="12"] { display: grid; --_column-count---value: 12; }
    	.slider_offset { --slide-count: var(--sm); }
    }
    @container (width < 27em) {
      * {
        --_responsive---small: 0;
        --_responsive---xsmall: 1;
        --flex-xsmall: flex;
        --none-xsmall: none;
        --column-xsmall: column;
        --row-xsmall: row;
        --start-xsmall: start;
        --center-xsmall: center;
        --end-xsmall: end;
    		--first-xsmall: -1;
    		--last-xsmall: 1;
    		--unset-xsmall: unset;
    		--relative-xsmall: relative;
      }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="1"] { display: flex; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="2"] { display: grid; --_column-count---value: 2; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="3"] { display: grid; --_column-count---value: 3; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="4"] { display: grid; --_column-count---value: 4; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="5"] { display: grid; --_column-count---value: 5; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="6"] { display: grid; --_column-count---value: 6; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="7"] { display: grid; --_column-count---value: 7; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="8"] { display: grid; --_column-count---value: 8; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="9"] { display: grid; --_column-count---value: 9; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="10"] { display: grid; --_column-count---value: 10; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="11"] { display: grid; --_column-count---value: 11; }
      :not([data-wf--grid--variant*="auto"]) > [data-xsmall-columns="12"] { display: grid; --_column-count---value: 12; }
    	.slider_offset { --slide-count: var(--xs); }
    }
  </style>
</div>
<div class="u-embed-css w-embed">
  <style>
            /* Button */
            .button_wrap {
              --button-padding: 0rem;

              --button-bg-color: transparent;
              --button-bg-color-hover: transparent;

              --button-text-color: inherit;
              --button-text-color-hover: inherit;

              --button-border-color: transparent;
              --button-border-color-hover: transparent;

              --button-icon-size: 1rem;

              --button-animation-offset: 0.125rem;

              --button-gap: 0.5rem;
            }

            /* Button Element */

            .button_element {
              padding: var(--button-padding);
              column-gap: var(--button-gap);
              font-size: var(--button-text-size);
              color: color-mix(
                in srgb,
                var(--button-text-color) calc(100% * var(--_trigger---on)),
                var(--button-text-color-hover) calc(100% * var(--_trigger---off))
              );
              background-color: color-mix(
                in srgb,
                var(--button-bg-color) calc(100% * var(--_trigger---on)),
                var(--button-bg-color-hover) calc(100% * var(--_trigger---off))
              );
              border-color: color-mix(
                in srgb,
                var(--button-border-color) calc(100% * var(--_trigger---on)),
                var(--button-border-color-hover) calc(100% * var(--_trigger---off))
              );
            }

            /* Button Animation */
            .button_wrap.has-icon-animation-move-left .button_icon {
              transform: translateX(calc(-1 * var(--button-animation-offset) * var(--_trigger---off)));
            }

            .button_wrap.has-icon-animation-move-right .button_icon {
              transform: translateX(calc(1 * var(--button-animation-offset) * var(--_trigger---off)));
            }

            .button_wrap.has-icon-animation-move-up-right .button_icon {
              transform: translate(
                calc(1 * var(--button-animation-offset) * var(--_trigger---off)),
                calc(-1 * var(--button-animation-offset) * var(--_trigger---off))
              );
            }

            /*  Button Variant Solid  */
            /*  BG Red  */
            .button_wrap.is-variant-solid.is-bg-red {
              --button-bg-color: var(--swatch--crimson);
              --button-bg-color-hover: var(--swatch--crimson-dark);

              --button-text-color: var(--swatch--white);
              --button-text-color-hover: var(--swatch--white);
            }

            /*  BG White  */
            .button_wrap.is-variant-solid.is-bg-white {
              --button-bg-color: var(--swatch--white);
              --button-bg-color-hover: var(--swatch--white-dark);

              --button-text-color: var(--swatch--charcoal);
              --button-text-color-hover: var(--swatch--charcoal);
            }

            /* Padding Base */
            .button_wrap.is-padding-base .button_element {
              --button-padding: 1.25rem 3.5rem;
            }

            /* Padding Small */
            .button_wrap.is-padding-small .button_element {
              --button-padding: 0.75rem 1.25rem;
              --button-gap: 0.375rem;
            }

            /* Button Variant Transparent */
            .button_wrap.is-variant-transparent {
              --button-padding: 1.25rem 3.5rem;
              --button-border-color: rgba(101, 109, 99, 0.3);
            }

            .button_wrap.is-variant-transparent .button_element {
              border: var(--border-width--main) solid var(--button-border-color);
            }

            /* Button Variant Text */
            .button_wrap.is-variant-text {
              --button-padding: 1rem 1rem;
            }

            .button_wrap.is-variant-text .button_element {
              margin: calc(var(--button-padding) * -1);
            }

            /* Has Underline */
            .button_wrap.is-variant-text.has-underline .button_text {
              text-decoration: underline;
            }

            /* BG (Text) Green */
            .button_wrap.is-variant-text.is-bg-green {
              --button-text-color: var(--swatch--charcoal);
              --button-text-color-hover: var(--swatch--charcoal-dark);
            }

            /* BG (Text) Red */
            .button_wrap.is-variant-text.is-bg-red {
              --button-text-color: var(--swatch--crimson);
              --button-text-color-hover: var(--swatch--crimson-dark);
            }

            /* Button Variant Pill */
            .button_wrap.is-variant-pill {
              border-radius: var(--radius--round);
            }

            .button_wrap.is-variant-pill .button_element {
              border-radius: inherit;
            }

            .button_text_wrap {
              display: flex;
              flex-flow: row wrap;
              gap: 0.5rem;
            }

            .button_tag {
              background-color: var(--swatch--crimson);
            }

            /* Padding Eyebrow Large */
            .button_wrap.is-variant-pill:has(.button_text.u-text-eyebrow-large) {
              --button-padding: 1.125rem 1.5rem;
            }

            .button_wrap.is-variant-pill:has(.button_text.u-text-eyebrow-large) .button_tag {
              padding: 0.4375rem 0.875rem;
            }

            /* Padding Eyebrow Base */
            .button_wrap.is-variant-pill:has(.button_text.u-text-eyebrow-base) {
              --button-padding: 0.875rem 1.125rem;
            }

            .button_wrap.is-variant-pill:has(.button_text.u-text-eyebrow-base) .button_tag {
              padding: 0.375rem 0.875rem;
            }

            /* Padding Link Base */
            .button_wrap.is-variant-pill:has(.button_text.u-text-link-base) {
              --button-padding: 0.875rem 1rem;
            }

            .button_wrap.is-variant-pill:has(.button_text.u-text-link-base) .button_tag {
              padding: 0.375rem 0.75rem;
            }

            /* Padding Link Small */
            .button_wrap.is-variant-pill:has(.button_text.u-text-link-small) {
              --button-padding: 0.875rem 0.875rem;
            }
            .button_wrap.is-variant-pill:has(.button_text.u-text-link-small) .button_tag {
              padding: 0.3125rem 0.5rem;
            }

            /* BG White */
            .button_wrap.is-variant-pill.is-bg-white {
              --button-bg-color: var(--swatch--snow);
              --button-bg-color-hover: var(--swatch--white-dark);

              --button-text-color: var(--swatch--charcoal);
              --button-text-color-hover: var(--swatch--charcoal-dark);
            }

            /* BG White Transparent */
            .button_wrap.is-variant-pill.is-bg-white-transparent {
              --button-bg-color: rgba(255, 255, 255, 0.24);
              --button-bg-color-hover: rgba(255, 255, 255, 0.35);

              --button-text-color: var(--swatch--white);
              --button-text-color-hover: var(--swatch--white);
            }

            .button_wrap.is-variant-pill.is-bg-white .button_element {
              box-shadow: 0 0 0.0625rem 0 rgba(0, 0, 0, 0.08);
              backdrop-filter: blur(5px);
            }

            .button_element:has(.button_tag.u-text-eyebrow-large) {
          padding: 0.6875rem 1.5rem;
        }

        .button_element:has(.button_tag.u-text-eyebrow-large) .button_tag {
          row-gap: 0.0625rem;
        }

        .button_element:has(.button_tag.u-text-eyebrow-large) .button_text {
          padding: 0.4375rem 0rem;
        }

        .button_element:has(.button_tag.u-text-eyebrow-large) {
      padding: 0.6875rem 1.5rem;
    }

    .button_element:has(.button_tag.u-text-eyebrow-large) .button_tag {
      row-gap: 0.0625rem;
    }

    .button_element:has(.button_tag.u-text-eyebrow-large) .button_text {
      padding: 0.4375rem 0rem;
    }

    .button_element:has(.button_tag.u-text-eyebrow-base) {
      padding: 0.5rem 1.125rem;
    }

    .button_element:has(.button_tag.u-text-eyebrow-base) .button_tag {
      row-gap: 0.125rem;
    }

    .button_element:has(.button_tag.u-link-base) .button_text {
      padding: 0.375rem 0rem;
    }
  </style>
</div>
<div class="u-embed-css w-embed">
  <style></style>
</div>
<div class="w-embed">
  <style>
    /* Bestehende Trim-Logik */ /*
    :is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
      > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))),
    :is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
      > .u-display-contents
      > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
      margin-bottom: 0;
    } */
    /* li-snippet: erstes echtes Element innen ohne padding-top */
    :is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
      > [li-snippet].u-display-contents
      > :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim):first-child {
      padding-top: 0;
    }
    /* li-snippet: letztes echtes Element innen ohne padding-bottom */
    :is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
      > [li-snippet].u-display-contents
      > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
      padding-bottom: 0;
    }
    /* li-snippet: wenn das letzte echte Element selbst Richtext enth&auml;lt,
       dann auch dessen letztes Kind trimmen, z. B. p, h2 etc. */
    :is(.u-margin-trim, .w-richtext, .u-content-wrapper, [class*='u-container'], [class*='u-layout-column'])
      > [li-snippet].u-display-contents
      > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim)))
      > :not(:has(~ :not(.w-condition-invisible, .u-cover-absolute, .u-ignore-trim))) {
      margin-bottom: 0;
    }
  </style>
</div>
