{% assign icon_name = icon | default: 'none' -%}
{%- assign icon_custom_class = custom_class -%}
{%- assign icon_classes = 'u-icon' -%}
{%- if icon_custom_class != blank -%}
  {%- assign icon_classes = icon_classes | append: ' ' | append: icon_custom_class -%}
{%- endif -%}
{%- if icon_name != blank and icon_name != 'none' %}
  <div class="{{icon_classes}}" aria-hidden="true">
    {% case icon_name -%}
      {%- when 'arrow_left' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M13.3334 7.33335H5.22008L8.94675 3.60669L8.00008 2.66669L2.66675 8.00002L8.00008 13.3334L8.94008 12.3934L5.22008 8.66669H13.3334V7.33335Z" fill="currentColor"></path>
        </svg>
      {% when 'arrow_right' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M8.00008 2.66669L7.06008 3.60669L10.7801 7.33335H2.66675V8.66669H10.7801L7.06008 12.3934L8.00008 13.3334L13.3334 8.00002L8.00008 2.66669Z" fill="currentColor"></path>
        </svg>
      {% when 'arrow_up_right' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M5.08192 11.8898L4.01709 10.825L10.3254 4.51667H4.72359V3H12.9069V11.1833H11.3903V5.5815L5.08192 11.8898Z" fill="currentColor"></path>
        </svg>
      {% when 'chevron_left' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M9.46926 13.5306L4.46926 8.5306C4.39934 8.46092 4.34387 8.37813 4.30601 8.28696C4.26816 8.1958 4.24867 8.09806 4.24867 7.99935C4.24867 7.90064 4.26816 7.8029 4.30601 7.71173C4.34387 7.62057 4.39934 7.53778 4.46926 7.4681L9.46927 2.4681C9.61016 2.3272 9.80126 2.24805 10.0005 2.24805C10.1998 2.24805 10.3909 2.3272 10.5318 2.4681C10.6727 2.609 10.7518 2.80009 10.7518 2.99935C10.7518 3.19861 10.6727 3.3897 10.5318 3.5306L6.06239 7.99997L10.5324 12.4693C10.6733 12.6102 10.7524 12.8013 10.7524 13.0006C10.7524 13.1999 10.6733 13.391 10.5324 13.5318C10.3915 13.6727 10.2004 13.7519 10.0011 13.7519C9.80188 13.7519 9.61079 13.6727 9.46989 13.5318L9.46926 13.5306Z" fill="currentColor"></path>
        </svg>
      {% when 'chevron_right' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M6.53073 2.4694L11.5307 7.4694C11.6007 7.53908 11.6561 7.62187 11.694 7.71304C11.7318 7.8042 11.7513 7.90194 11.7513 8.00065C11.7513 8.09936 11.7318 8.1971 11.694 8.28827C11.6561 8.37943 11.6007 8.46222 11.5307 8.5319L6.53073 13.5319C6.38984 13.6728 6.19874 13.752 5.99948 13.752C5.80023 13.752 5.60913 13.6728 5.46823 13.5319C5.32734 13.391 5.24818 13.1999 5.24818 13.0007C5.24818 12.8014 5.32734 12.6103 5.46823 12.4694L9.93761 8.00003L5.46761 3.53065C5.32671 3.38976 5.24756 3.19866 5.24756 2.9994C5.24756 2.80015 5.32671 2.60905 5.46761 2.46815C5.60851 2.32726 5.7996 2.2481 5.99886 2.2481C6.19812 2.2481 6.38921 2.32726 6.53011 2.46815L6.53073 2.4694Z" fill="currentColor"></path>
        </svg>
      {% when 'chevron_down' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M13.5306 6.53074L8.5306 11.5307C8.46092 11.6007 8.37813 11.6561 8.28696 11.694C8.1958 11.7318 8.09806 11.7513 7.99935 11.7513C7.90064 11.7513 7.8029 11.7318 7.71173 11.694C7.62057 11.6561 7.53778 11.6007 7.4681 11.5307L2.4681 6.53074C2.3272 6.38984 2.24805 6.19874 2.24805 5.99949C2.24805 5.80023 2.3272 5.60913 2.4681 5.46824C2.60899 5.32734 2.80009 5.24818 2.99935 5.24818C3.19861 5.24818 3.3897 5.32734 3.5306 5.46824L7.99997 9.93761L12.4693 5.46761C12.6102 5.32671 12.8013 5.24756 13.0006 5.24756C13.1999 5.24756 13.391 5.32671 13.5318 5.46761C13.6727 5.60851 13.7519 5.7996 13.7519 5.99886C13.7519 6.19812 13.6727 6.38921 13.5318 6.53011L13.5306 6.53074Z" fill="currentColor"></path>
        </svg>
      {% when 'chevron_up' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M2.4694 9.46927L7.4694 4.46927C7.53908 4.39935 7.62187 4.34387 7.71304 4.30601C7.8042 4.26816 7.90194 4.24867 8.00065 4.24867C8.09936 4.24867 8.1971 4.26816 8.28827 4.30601C8.37943 4.34387 8.46222 4.39935 8.5319 4.46927L13.5319 9.46927C13.6728 9.61016 13.752 9.80126 13.752 10.0005C13.752 10.1998 13.6728 10.3909 13.5319 10.5318C13.391 10.6727 13.1999 10.7518 13.0007 10.7518C12.8014 10.7518 12.6103 10.6727 12.4694 10.5318L8.00003 6.06239L3.53065 10.5324C3.38976 10.6733 3.19866 10.7524 2.9994 10.7524C2.80015 10.7524 2.60905 10.6733 2.46815 10.5324C2.32726 10.3915 2.2481 10.2004 2.2481 10.0011C2.2481 9.80188 2.32726 9.61079 2.46815 9.46989L2.4694 9.46927Z" fill="currentColor"></path>
        </svg>
      {% when 'download' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M14 9.5V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14H3C2.73478 14 2.48043 13.8946 2.29289 13.7071C2.10536 13.5196 2 13.2652 2 13V9.5C2 9.36739 2.05268 9.24021 2.14645 9.14645C2.24021 9.05268 2.36739 9 2.5 9C2.63261 9 2.75979 9.05268 2.85355 9.14645C2.94732 9.24021 3 9.36739 3 9.5V13H13V9.5C13 9.36739 13.0527 9.24021 13.1464 9.14645C13.2402 9.05268 13.3674 9 13.5 9C13.6326 9 13.7598 9.05268 13.8536 9.14645C13.9473 9.24021 14 9.36739 14 9.5ZM7.64625 9.85375C7.69269 9.90024 7.74783 9.93712 7.80853 9.96228C7.86923 9.98744 7.93429 10.0004 8 10.0004C8.06571 10.0004 8.13077 9.98744 8.19147 9.96228C8.25217 9.93712 8.30731 9.90024 8.35375 9.85375L10.8538 7.35375C10.9002 7.3073 10.9371 7.25214 10.9622 7.19145C10.9873 7.13075 11.0003 7.0657 11.0003 7C11.0003 6.9343 10.9873 6.86925 10.9622 6.80855C10.9371 6.74786 10.9002 6.6927 10.8538 6.64625C10.8073 6.59979 10.7521 6.56294 10.6914 6.5378C10.6308 6.51266 10.5657 6.49972 10.5 6.49972C10.4343 6.49972 10.3692 6.51266 10.3086 6.5378C10.2479 6.56294 10.1927 6.59979 10.1462 6.64625L8.5 8.29313V2.5C8.5 2.36739 8.44732 2.24021 8.35355 2.14645C8.25979 2.05268 8.13261 2 8 2C7.86739 2 7.74021 2.05268 7.64645 2.14645C7.55268 2.24021 7.5 2.36739 7.5 2.5V8.29313L5.85375 6.64625C5.75993 6.55243 5.63268 6.49972 5.5 6.49972C5.36732 6.49972 5.24007 6.55243 5.14625 6.64625C5.05243 6.74007 4.99972 6.86732 4.99972 7C4.99972 7.13268 5.05243 7.25993 5.14625 7.35375L7.64625 9.85375Z" fill="currentColor"></path>
        </svg>
      {% when 'copy' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" fill="none">
          <path d="M11.5 0H3.5C3.36739 0 3.24021 0.0526785 3.14645 0.146447C3.05268 0.240215 3 0.367392 3 0.5V3H0.5C0.367392 3 0.240215 3.05268 0.146447 3.14645C0.0526785 3.24021 0 3.36739 0 3.5V11.5C0 11.6326 0.0526785 11.7598 0.146447 11.8536C0.240215 11.9473 0.367392 12 0.5 12H8.5C8.63261 12 8.75979 11.9473 8.85355 11.8536C8.94732 11.7598 9 11.6326 9 11.5V9H11.5C11.6326 9 11.7598 8.94732 11.8536 8.85355C11.9473 8.75979 12 8.63261 12 8.5V0.5C12 0.367392 11.9473 0.240215 11.8536 0.146447C11.7598 0.0526785 11.6326 0 11.5 0ZM8 11H1V4H8V11ZM11 8H9V3.5C9 3.36739 8.94732 3.24021 8.85355 3.14645C8.75979 3.05268 8.63261 3 8.5 3H4V1H11V8Z" fill="currentColor"></path>
        </svg>
      {% when 'external' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M14 6.5C14 6.63261 13.9473 6.75979 13.8536 6.85355C13.7598 6.94732 13.6326 7 13.5 7C13.3674 7 13.2402 6.94732 13.1464 6.85355C13.0527 6.75979 13 6.63261 13 6.5V3.7075L8.85437 7.85375C8.76055 7.94757 8.63331 8.00028 8.50062 8.00028C8.36794 8.00028 8.2407 7.94757 8.14688 7.85375C8.05306 7.75993 8.00035 7.63268 8.00035 7.5C8.00035 7.36732 8.05306 7.24007 8.14688 7.14625L12.2925 3H9.5C9.36739 3 9.24021 2.94732 9.14645 2.85355C9.05268 2.75979 9 2.63261 9 2.5C9 2.36739 9.05268 2.24021 9.14645 2.14645C9.24021 2.05268 9.36739 2 9.5 2H13.5C13.6326 2 13.7598 2.05268 13.8536 2.14645C13.9473 2.24021 14 2.36739 14 2.5V6.5ZM11.5 8C11.3674 8 11.2402 8.05268 11.1464 8.14645C11.0527 8.24021 11 8.36739 11 8.5V13H3V5H7.5C7.63261 5 7.75979 4.94732 7.85355 4.85355C7.94732 4.75979 8 4.63261 8 4.5C8 4.36739 7.94732 4.24021 7.85355 4.14645C7.75979 4.05268 7.63261 4 7.5 4H3C2.73478 4 2.48043 4.10536 2.29289 4.29289C2.10536 4.48043 2 4.73478 2 5V13C2 13.2652 2.10536 13.5196 2.29289 13.7071C2.48043 13.8946 2.73478 14 3 14H11C11.2652 14 11.5196 13.8946 11.7071 13.7071C11.8946 13.5196 12 13.2652 12 13V8.5C12 8.36739 11.9473 8.24021 11.8536 8.14645C11.7598 8.05268 11.6326 8 11.5 8Z" fill="currentColor"></path>
        </svg>
      {% when 'star' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 14 13" fill="none">
          <path d="M6.34963 0.421436C6.59025 -0.140479 7.40978 -0.140479 7.6504 0.421437L9.07054 3.73796C9.17204 3.97485 9.40141 4.13671 9.66469 4.15721L13.3509 4.44426C13.9755 4.49289 14.2287 5.24994 13.7529 5.64586L10.9444 7.9826C10.7438 8.14954 10.6561 8.41145 10.7174 8.66097L11.5755 12.1549C11.7208 12.7469 11.0578 13.2148 10.5231 12.8976L7.36719 11.0252C7.14177 10.8915 6.85827 10.8915 6.63285 11.0252L3.4769 12.8976C2.94219 13.2148 2.27917 12.7469 2.42455 12.1549L3.2826 8.66097C3.34389 8.41145 3.25628 8.14954 3.05569 7.9826L0.247144 5.64586C-0.228703 5.24994 0.0245476 4.49289 0.649105 4.44426L4.33536 4.15721C4.59866 4.13671 4.82802 3.97485 4.92946 3.73796L6.34963 0.421436Z" fill="currentColor"></path>
        </svg>
      {% when 'tiktok' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M11.3816 0H8.68512V10.8985C8.68512 12.1971 7.64805 13.2638 6.35743 13.2638C5.06681 13.2638 4.02971 12.1971 4.02971 10.8985C4.02971 9.6232 5.04376 8.57969 6.2883 8.53333V5.79711C3.54573 5.84347 1.33325 8.09276 1.33325 10.8985C1.33325 13.7276 3.59182 16 6.38048 16C9.1691 16 11.4277 13.7044 11.4277 10.8985V5.31013C12.4417 6.05218 13.6862 6.49276 14.9999 6.51596V3.77971C12.9718 3.71015 11.3816 2.04058 11.3816 0Z" fill="currentColor"></path>
        </svg>
      {% when 'instagram' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5556 0H4.44444C1.98985 0 0 1.98985 0 4.44444V11.5556C0 14.0101 1.98985 16 4.44444 16H11.5556C14.0101 16 16 14.0101 16 11.5556V4.44444C16 1.98985 14.0101 0 11.5556 0ZM14.4444 11.5556C14.4396 13.149 13.149 14.4396 11.5556 14.4444H4.44444C2.85098 14.4396 1.56044 13.149 1.55556 11.5556V4.44444C1.56044 2.85098 2.85098 1.56044 4.44444 1.55556H11.5556C13.149 1.56044 14.4396 2.85098 14.4444 4.44444V11.5556ZM12.2222 4.66667C12.7132 4.66667 13.1111 4.26869 13.1111 3.77778C13.1111 3.28686 12.7132 2.88889 12.2222 2.88889C11.7313 2.88889 11.3333 3.28686 11.3333 3.77778C11.3333 4.26869 11.7313 4.66667 12.2222 4.66667ZM8 4C5.79086 4 4 5.79086 4 8C4 10.2092 5.79086 12 8 12C10.2092 12 12 10.2092 12 8C12.0024 6.9384 11.5817 5.91962 10.831 5.16896C10.0804 4.4183 9.0616 3.99764 8 4ZM5.55556 8C5.55556 9.35004 6.64996 10.4444 8 10.4444C9.35004 10.4444 10.4444 9.35004 10.4444 8C10.4444 6.64996 9.35004 5.55556 8 5.55556C6.64996 5.55556 5.55556 6.64996 5.55556 8Z" fill="currentColor"></path>
        </svg>
      {% when 'facebook' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 16 16" fill="none">
          <path d="M11.2271 8.00643H9.11589V16H5.98757V8.00643H4.50049V5.18122H5.98757V3.35383C5.98757 2.04506 6.57299 0 9.14464 0L11.4629 0.00944289V2.75192H9.78024C9.50634 2.75192 9.11693 2.89739 9.11693 3.52151V5.18177H11.5005L11.2271 8.00643Z" fill="currentColor"/>
        </svg>
      {% when 'linkedin' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M4.00701 15.2337H1.00525V5.56402H4.00701V15.2337ZM2.50432 4.24419C2.15886 4.24561 1.82073 4.14459 1.53267 3.95389C1.24461 3.76318 1.01955 3.49136 0.885946 3.17278C0.75234 2.85419 0.716183 2.50315 0.782045 2.16402C0.847907 1.82489 1.01283 1.5129 1.25597 1.26749C1.49911 1.02207 1.80955 0.854244 2.14805 0.785224C2.48655 0.716204 2.83791 0.749087 3.15773 0.879717C3.47754 1.01035 3.75145 1.23286 3.94483 1.51913C4.13821 1.8054 4.24238 2.14257 4.24418 2.48803C4.24515 2.95127 4.06267 3.39605 3.73664 3.72514C3.41061 4.05422 2.96755 4.24084 2.50432 4.24419ZM15.25 15.2337H12.2501V10.5265C12.2501 9.40401 12.2283 7.96469 10.6894 7.96469C9.15054 7.96469 8.87897 9.18495 8.87897 10.445V15.2337H5.88989V5.56402H8.77034V6.88204H8.81198C9.2121 6.12164 10.1916 5.3196 11.6526 5.3196C14.6906 5.3196 15.25 7.32198 15.25 9.92181V15.2337Z" fill="white"/>
        </svg>
      {% when 'youtube' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2.50012C8.02408 2.50012 13.0068 2.50108 14.251 2.82883C14.9397 3.00999 15.4809 3.54144 15.6653 4.2178C15.9985 5.44275 16 8.00012 16 8.00012C16 8.00012 15.9999 10.5575 15.6653 11.7824C15.4809 12.4588 14.9397 12.9903 14.251 13.1714C13.0068 13.4992 8.02408 13.5001 8 13.5001C8 13.5001 2.99625 13.5 1.74897 13.1714C1.06025 12.9903 0.519111 12.4588 0.334701 11.7824C0.00016266 10.5575 0 8.00012 0 8.00012C0 8.00012 0.00016266 5.44275 0.334701 4.2178C0.519116 3.5414 1.06026 3.00995 1.74897 2.82883C2.99625 2.50028 8 2.50012 8 2.50012ZM6.39869 10.357L10.5551 8.00012L6.39869 5.64382V10.357Z" fill="currentColor"></path>
        </svg>
      {% when 'pinterest' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 16 16" fill="none">
          <path d="M8.20636 0C4.15237 0 2 2.81168 2 5.87428C2 7.29612 2.73178 9.06851 3.90656 9.63288C4.08475 9.7187 4.17913 9.67943 4.21857 9.50197C4.25167 9.36742 4.41085 8.70996 4.48128 8.40305C4.49465 8.35428 4.49551 8.30276 4.48378 8.25354C4.47205 8.20433 4.44813 8.1591 4.41437 8.12231C4.027 7.63721 3.71851 6.74338 3.71851 5.91064C3.71851 3.77097 5.28771 1.70185 7.95915 1.70185C10.2693 1.70185 11.8829 3.32369 11.8829 5.64809C11.8829 8.27359 10.601 10.0903 8.9311 10.0903C8.00916 10.0903 7.31753 9.30415 7.53797 8.33541C7.8042 7.18339 8.31694 5.93682 8.31694 5.10772C8.31694 4.36152 7.92816 3.73824 7.13018 3.73824C6.1857 3.73824 5.42928 4.74553 5.42928 6.09537C5.42928 6.95502 5.711 7.53394 5.711 7.53394C5.711 7.53394 4.7792 11.6016 4.61017 12.3587C4.31929 13.6424 4.64609 15.7224 4.67637 15.905C4.69116 16.0024 4.79751 16.0359 4.85386 15.953C4.94471 15.8257 6.06879 14.0875 6.38502 12.8315L6.96819 10.5253C7.27738 11.1282 8.17044 11.6387 9.12408 11.6387C11.9561 11.6387 14 8.9456 14 5.603C14.0014 2.40077 11.4659 0 8.20636 0Z" fill="currentColor"></path>
        </svg>
    {% endcase %}
  </div>
{% endif %}
