<div class="product_modal_trigger_wrap"><button class="product_modal_tigger_element">
                        {% render 'typography', variant: 'u-text-eyebrow-large u-min-width-auto', text: section.settings.text, tag: 'div' %}
                        <div class="product_modal_tigger_icon u-flex-noshrink">
                          {% render 'icon', aria-hidden: true, icon: 'chevron_right' %}
                        </div>
                      </button></div>
