{% assign spacer_variant = variant -%}
{%- assign spacer_attribute = '' -%}
{%- if spacer_variant == 'small' -%}
  {%- assign spacer_attribute = 'small' -%}
{%- elsif spacer_variant == 'main' -%}
  {%- assign spacer_attribute = 'main' -%}
{%- elsif spacer_variant == 'large' -%}
  {%- assign spacer_attribute = 'large' -%}
{%- elsif spacer_variant == 'page_top' -%}
  {%- assign spacer_attribute = 'page-top' -%}
{%- endif -%}
{%- assign spacer_class = '' -%}
{%- if spacer_variant == 'small' -%}
  {%- assign spacer_class = 'w-variant-d422cbd0-f212-c815-68df-63414354c21d' -%}
{%- elsif spacer_variant == 'main' -%}
  {%- assign spacer_class = 'w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490' -%}
{%- elsif spacer_variant == 'large' -%}
  {%- assign spacer_class = 'w-variant-8cc18b30-4618-8767-0111-f6abfe45aaa3' -%}
{%- elsif spacer_variant == 'page_top' -%}
  {%- assign spacer_class = 'w-variant-e359d2da-de19-6775-b122-3e06f925f39e' -%}
{%- endif %}
<div
  data-wf--preview-spacer--variant="{{spacer_attribute}}"
  class="u-section-spacer{{spacer_class}}u-ignore-trim"
></div>
<div
  data-wf--preview-spacer--variant="main"
  class="u-section-spacer w-variant-60a7ad7d-02b0-6682-95a5-2218e6fd1490 u-ignore-trim"
></div>
