{% assign video_object = video %}

{% assign video_autoplay = autoplay | default: false %}
{% assign video_loop = loop | default: true %}
{% assign video_muted = muted | default: true %}
{% assign video_controls = controls | default: false %}
{% assign video_preload = preload | default: 'metadata' %}
{% assign video_play_behavior = play_behavior | default: 'none' %}

{% assign video_custom_class = custom_class %}
{% assign video_classes = 'u-video' %}

{% if video_custom_class != blank %}
  {% assign video_classes = video_classes | append: ' ' | append: video_custom_class %}
{% endif %}

{% assign video_behavior_value = video_play_behavior | replace: '_', '-' %}

{% if video_object != blank %}
  <div
    class="u-video_wrap"
    data-video-behavior="{{ video_behavior_value }}"
  >
    {{
      video_object
      | video_tag:
        class: video_classes,
        image_size: '2000x',
        autoplay: video_autoplay,
        loop: video_loop,
        muted: video_muted,
        controls: video_controls,
        preload: video_preload
    }}
  </div>
{% endif %}
