<div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
        </div>
        {% render 'heading', visually_hidden: true, heading: section.settings.heading, tag: 'h2' %}
        <div class="footer_top_wrap">
          <div class="footer_top_contain u-container">
            <div class="footer_top_layout">
              <div class="footer_top_text">
                {% render 'typography', custom_class: 'u-margin-bottom-0', text: section.settings.text, tag: section.settings.text_tag, variant: 'u-text-eyebrow-large' %}
              </div>
              <div role="list" class="footer_social_wrap">
                {% for block in section.blocks %}
    {% if block.type == "socials-item" %}
                    <div role="listitem" li-block="Socials Item" class="footer_social_item_wrap">
                                    
                  
                                    
                                    
                  
                                    <div class="u-display-none">
                    
                    
                    
                  </div>
                                    
                  
                                    <div data-trigger="hover focus" class="footer_socials_item_element">
                    <div class="footer_socials_item_inner">
                      <div class="footer_socials_item_icon">
                        {% render 'icon', aria-hidden: true, icon: block.settings.icon %}
                      </div>
                    </div>
                    {% render 'clickable', target: '_blank', label: block.settings.clickable_label, mode: 'link', url: block.settings.clickable_url %}
                  </div>
                                    
                
                            </div>
            {% endif %}
{% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="footer_mid_wrap">
          <div class="footer_mid_contain u-container">
            <div class="footer_mid_layout">
              <section data-trigger="group" class="footer_group_wrap">
                
                <div class="u-display-none">
                  
                  
                </div>
                <div class="footer_group_element">
                  <div class="footer_group_top">
                    {% render 'heading', custom_class: 'u-margin-bottom-0', heading: block.settings.heading, tag: 'h3', variant: 'u-text-eyebrow-base' %}
                  </div>
                  <div class="footer_group_bot_wrap">
                    <div class="footer_group_bot_element">
                      <div class="footer_group_bot">
                        {% if block.settings.menu != blank %}    <div li-if="block.settings.menu != blank" role="list" class="footer_group_list">
    
                          {% for link in block.settings.menu.links %}    <div li-for="link in block.settings.menu.links" data-trigger="hover-other focus-other" role="listitem" class="footer_group_item_wrap">
                                    
                            
                            {% assign link_title = link.title %}{% assign is_external = false %}{% assign tag_text = blank %}{% if link_title contains '[external]' %}{% assign is_external = true %}{% assign link_title = link_title | replace: '[external]', '' | strip %}{% endif %}{% if link_title contains '[tag:' %}{% assign tag_text = link_title | split: '[tag:' | last | split: ']' | first | strip %}{% assign tag_marker = '[tag:' | append: tag_text | append: ']' %}{% assign link_title = link_title | replace: tag_marker, '' | strip %}{% endif %}
                            
                            
                            <div class="footer_group_item_element">
                              {% render 'typography', variant: 'u-text-link-large u-min-width-auto', text: link.title, tag: 'span' %}
                              {% if tag_text != blank %}    <div li-if="tag_text != blank" class="footer_group_item_tag">
    
                                {% render 'tag', custom_class: , tag: tag_text, variant: 'solid', solid_text_size: 'u-text-body-small', solid_color: 'red' %}
                                  </div>
{% endif %}
                              {% if is_external %}    <div li-if="is_external" class="footer_group_item_icon">
    
                                {% render 'icon', custom_class: , icon: 'arrow-up-right', aria-hidden: true %}
                                  </div>
{% endif %}
                              {% render 'clickable', url: section.settings.clickable_url, action: section.settings.clickable_action, focus_ring: section.settings.clickable_focus_ring, label: section.settings.clickable_label, mode: section.settings.clickable_mode, custom_class: , target: section.settings.clickable_target %}
                            </div>
                            
                          
                        </div>
{% endfor %}
                            </div>
{% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="footer_bot_wrap">
          <div class="footer_bot_contain u-container">
            <div class="footer_bot_layout"></div>
          </div>
        </div>
        <div class="footer_bottom_wrap">
          <div class="footer_bottom_contain u-container">
            <div class="footer_bottom_layout">
              <div class="footer_bottom_text u-text-style-small"><span>© </span><span data-dynamic-year=" ">{{year}}</span><span> Copyright. All Rights Reserved.</span></div>
              <div data-trigger="group" role="list" class="footer_bottom_list">
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Privacy Policy</div>
                  </a>
                </div>
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Terms & Conditions</div>
                  </a>
                </div>
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Site Map</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "footer_wrap",
    "blocks": [
        {
            "name": "Socials Item",
            "type": "socials-item",
            "settings": [
                {
                    "type": "header",
                    "content": "Icon"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "Icon",
                    "options": [
                        {
                            "value": "tiktok",
                            "label": "TikTok"
                        },
                        {
                            "value": "instagram",
                            "label": "Instagram"
                        },
                        {
                            "value": "facebook",
                            "label": "Facebook"
                        },
                        {
                            "value": "linkedin",
                            "label": "LinkedIn"
                        }
                    ],
                    "default": "tiktok"
                },
                {
                    "type": "header",
                    "content": "Link"
                },
                {
                    "type": "text",
                    "id": "clickable_label",
                    "label": "Beschriftung",
                    "default": "Mehr erfahren"
                },
                {
                    "type": "url",
                    "id": "clickable_url",
                    "label": "Link"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet"
        },
        {
            "type": "select",
            "id": "text_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-body-small",
                    "label": "Klein"
                },
                {
                    "value": "u-text-body-base",
                    "label": "Standard"
                },
                {
                    "value": "u-text-body-large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "u-text-body-base"
        },
        {
            "type": "select",
            "id": "text_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ],
            "default": "h2"
        },
        {
            "type": "number",
            "id": "text_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 60
        },
        {
            "type": "checkbox",
            "id": "text_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "text_visually_hidden",
            "label": "Nur f\u00fcr Screenreader anzeigen",
            "default": false
        },
        {
            "type": "header",
            "content": "Men\u00fc"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Men\u00fc ausw\u00e4hlen"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        }
    ],
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "socials-item"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}