<h2 class="footer_title u-sr-only">Footer</h2>
        <div class="footer_contain u-container">
          <div data-medium-columns="1" class="footer_layout u-grid-custom">
            <div class="footer_content">
              <a aria-label="Go to the homepage" href="../index.html" class="footer_logo_wrap w-inline-block">
                <div style="" class="u-max-width-full">
                  <div class="u-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 908 184" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M176.11 120.7L119.28 105.47L134.5 162.3L106.42 169.82L91.19 113.01L20.56 183.63L0 163.07L70.63 92.44L13.81 77.22L21.33 49.13L78.16 64.36L62.93 7.53L91.02 0L106.25 56.83L148.86 14.21L169.42 34.77L126.81 77.39L183.63 92.62L176.11 120.7Z" fill="currentColor"></path>
                      <path d="M224.24 174.1V7.62988H255.87V146.75H333.63V174.1H224.24Z" fill="currentColor"></path>
                      <path d="M455.47 54.2402V174.1H426.22V155.55C419.56 168.63 406.01 176 388.88 176C362.01 176 344.41 156.5 344.41 128.44V54.2402H373.42V122.25C373.42 138.66 383.65 150.07 398.39 150.07C414.8 150.07 426.21 137.23 426.21 119.63V54.2402H455.46H455.47Z" fill="currentColor"></path>
                      <path d="M476.25 174.1V54.2403H505.5V73.0303C511.44 60.9003 523.34 52.3403 540.22 52.3403C559.25 52.3403 572.32 60.4303 577.56 75.1703C583.03 62.8003 598.25 52.3403 617.28 52.3403C643.2 52.3403 659.85 71.1303 659.85 96.5703V174.1H630.84V105.37C630.84 88.4803 622.04 77.3103 608.01 77.3103C592.31 77.3103 582.56 88.4903 582.56 105.37V174.1H553.55V105.37C553.55 88.4803 544.75 77.3103 530.72 77.3103C515.26 77.3103 505.51 88.4903 505.51 105.37V174.1H476.26H476.25Z" fill="currentColor"></path>
                      <path d="M676.2 114.17C676.2 78.5003 702.36 52.3403 738.98 52.3403C775.6 52.3403 801.52 78.5003 801.52 114.17C801.52 149.84 775.36 176 738.98 176C702.6 176 676.2 149.84 676.2 114.17ZM772.04 114.17C772.04 92.5303 758.72 77.5503 738.98 77.5503C719.24 77.5503 705.69 92.5303 705.69 114.17C705.69 135.81 719.01 150.79 738.98 150.79C758.95 150.79 772.04 135.81 772.04 114.17Z" fill="currentColor"></path>
                      <path d="M811.46 134.15H838.1C839.29 145.57 848.09 152.7 861.17 152.7C872.59 152.7 880.2 146.99 880.2 139.86C880.2 113.22 814.56 138.67 814.56 88.0201C814.56 67.0901 832.87 52.3501 857.6 52.3501C885.66 52.3501 904.93 67.8101 906.11 91.1101H879.47C877.81 79.9301 867.58 74.2201 858.31 74.2201C847.85 74.2201 840.95 78.9801 840.95 87.0601C840.95 112.98 907.54 84.4401 907.54 138.67C907.54 161.26 889.23 176.01 861.17 176.01C833.11 176.01 812.89 159.84 811.47 134.15H811.46Z" fill="currentColor"></path>
                    </svg></div>
                </div>
              </a>
              <div class="footer_social_wrap">
                <h3 class="footer_social_title u-text-style-h6 u-margin-bottom-4">Follow us</h3>
                <div role="list" class="footer_social_list">
                  <div role="listitem" class="footer_social_item">
                    <a aria-label="Facebook" href="#" target="_blank" class="footer_social_link w-inline-block">
                      <div aria-hidden="true" data-wf--preview-icon--variant="full" class="u-icon w-embed"><svg width="64" height="64" viewbox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M24.9244 62V36H16V24H24.9244V15.62C24.9244 6.49153 30.7033 2 38.8465 2C42.7472 2 46.0996 2.29041 47.0766 2.42022V11.96L41.4289 11.9625C37.0001 11.9625 36 14.067 36 17.1551V24H48L44 36H36V62H24.9244Z" fill="black"></path>
                        </svg></div>
                    </a>
                  </div>
                  <div role="listitem" class="footer_social_item">
                    <a aria-label="Instagram" href="#" target="_blank" class="footer_social_link w-inline-block">
                      <div aria-hidden="true" data-wf--preview-icon--variant="full" class="u-icon w-embed"><svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M55.84 16.46C55.79 14.13 55.35 11.83 54.54 9.66C53.08 5.9 50.11 2.92 46.34 1.47C44.17 0.66 41.87 0.22 39.54 0.17C36.56 0.03 35.6 0 28 0C20.4 0 19.45 0.03 16.46 0.17C14.14 0.21 11.84 0.65 9.66 1.47C5.9 2.92 2.93 5.9 1.47 9.66C0.66 11.84 0.22 14.14 0.17 16.46C0.04 19.44 0 20.4 0 28C0 35.6 0.04 36.56 0.17 39.54C0.22 41.87 0.66 44.17 1.47 46.34C2.93 50.1 5.9 53.08 9.66 54.53C11.84 55.35 14.14 55.79 16.46 55.83C19.45 55.97 20.4 56 28 56C35.6 56 36.56 55.97 39.55 55.83C41.87 55.79 44.17 55.35 46.35 54.53C50.11 53.08 53.08 50.1 54.54 46.34C55.35 44.17 55.79 41.87 55.84 39.54C55.97 36.56 56 35.6 56 28C56 20.4 55.97 19.44 55.84 16.46ZM28 42.38C20.06 42.38 13.63 35.94 13.63 28C13.63 20.06 20.06 13.62 28 13.62C31.97 13.62 35.56 15.23 38.17 17.83C40.77 20.44 42.38 24.03 42.38 28C42.38 35.94 35.94 42.38 28 42.38ZM42.95 16.41C41.09 16.41 39.59 14.91 39.59 13.05C39.59 11.19 41.09 9.69 42.95 9.69C44.81 9.69 46.31 11.2 46.31 13.05C46.31 14.9 44.81 16.41 42.95 16.41Z" fill="black"></path>
                          <path d="M37.3399 28.0019C37.3399 33.1519 33.1599 37.3319 28.0099 37.3319H27.9999C22.8499 37.3319 18.6699 33.1519 18.6699 28.0019C18.6699 22.8519 22.8499 18.6719 27.9999 18.6719C33.1499 18.6719 37.3399 22.8519 37.3399 28.0019Z" fill="black"></path>
                        </svg></div>
                    </a>
                  </div>
                  <div role="listitem" class="footer_social_item">
                    <a aria-label="Linked In" href="#" target="_blank" class="footer_social_link w-inline-block">
                      <div aria-hidden="true" data-wf--preview-icon--variant="full" class="u-icon w-embed"><svg width="46" height="46" viewbox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M11 5.5C11 8.6 8.6 11 5.5 11C2.4 11 0 8.5 0 5.5C0 2.5 2.5 0 5.5 0C8.5 0 11 2.5 11 5.5Z" fill="black"></path>
                          <path d="M10.2998 15.1953H0.799805V45.6953H10.2998V15.1953Z" fill="black"></path>
                          <path d="M45.8002 29V45.7H36.3002V30.9C36.3002 27.4 36.2002 22.8 31.4002 22.8C26.6002 22.8 25.7002 26.7 25.7002 30.6V45.7H16.2002V15.2H25.3002V19.4H25.4002C26.7002 17 29.8002 14.5 34.4002 14.5C44.0002 14.5 45.8002 20.8 45.8002 29Z" fill="black"></path>
                        </svg></div>
                    </a>
                  </div>
                  <div role="listitem" class="footer_social_item">
                    <a aria-label="YouTube" href="#" target="_blank" class="footer_social_link w-inline-block">
                      <div aria-hidden="true" data-wf--preview-icon--variant="full" class="u-icon w-embed"><svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M47.5 14.4016C47.5 14.4016 47 11.1016 45.6 9.60156C43.8 7.70156 41.7 7.70156 40.8 7.60156C34.1 7.10156 24 7.10156 24 7.10156C24 7.10156 13.9 7.10156 7.2 7.60156C6.3 7.70156 4.2 7.70156 2.4 9.60156C1 11.1016 0.5 14.4016 0.5 14.4016C0.5 14.4016 0 18.3016 0 22.2016V25.8016C0 29.7016 0.5 33.6016 0.5 33.6016C0.5 33.6016 1 36.9016 2.4 38.4016C4.2 40.3016 6.6 40.3016 7.7 40.5016C11.5 40.9016 24 41.0016 24 41.0016C24 41.0016 34.1 41.0016 40.8 40.5016C41.7 40.4016 43.8 40.4016 45.6 38.5016C47 37.0016 47.5 33.7016 47.5 33.7016C47.5 33.7016 48 29.8016 48 25.9016V22.3016C48 18.3016 47.5 14.4016 47.5 14.4016ZM19 30.2016V16.7016L32 23.5016L19 30.2016Z" fill="black"></path>
                        </svg></div>
                    </a>
                  </div>
                  <div role="listitem" class="footer_social_item">
                    <a aria-label="X" href="#" target="_blank" class="footer_social_link w-inline-block">
                      <div aria-hidden="true" data-wf--preview-icon--variant="full" class="u-icon w-embed"><svg width="300" height="301" viewbox="0 0 300 301" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M178.57 127.15L290.27 0H263.81L166.78 110.38L89.34 0H0L117.13 166.93L0 300.25H26.46L128.86 183.66L210.66 300.25H300M36.01 19.54H76.66L263.79 281.67H223.13" fill="black"></path>
                        </svg></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div data-wf--grid--settings-variant="default" data-number="12" class="u-grid-wrapper u-gap-row-7 u-column-span-8">
              <div data-large-columns="4" data-medium-columns="0" data-small-columns="2" data-xsmall-columns="1" class="u-grid">
                <section data-trigger="group" class="footer_group_wrap">
                  <h3 class="footer_group_title u-text-style-h6 u-margin-bottom-text">Heading</h3>
                  <div role="list" class="footer_group_list">
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Goes Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text</div>
                      </a>
                    </div>
                  </div>
                </section>
                <section data-trigger="group" class="footer_group_wrap">
                  <h3 class="footer_group_title u-text-style-h6 u-margin-bottom-text">Heading Text</h3>
                  <div role="list" class="footer_group_list">
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Goes Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Goes Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                  </div>
                </section>
                <section data-trigger="group" class="footer_group_wrap">
                  <h3 class="footer_group_title u-text-style-h6 u-margin-bottom-text">Heading Text</h3>
                  <div role="list" class="footer_group_list">
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Goes Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                  </div>
                </section>
                <section data-trigger="group" class="footer_group_wrap">
                  <h3 class="footer_group_title u-text-style-h6 u-margin-bottom-text">Heading</h3>
                  <div role="list" class="footer_group_list">
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Goes Here</div>
                      </a>
                    </div>
                    <div data-trigger="hover-other focus-other" role="listitem" class="footer_group_item">
                      <a href="#" class="footer_link_wrap w-inline-block">
                        <div class="footer_link_text u-text-style-small">Link Text Here</div>
                      </a>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom_wrap">
          <div class="footer_bottom_contain u-container">
            <div class="footer_bottom_layout">
              <div class="footer_bottom_text u-text-style-small"><span>© </span><span data-dynamic-year=" ">{{year}}</span><span> Copyright. All Rights Reserved.</span></div>
              <div data-trigger="group" role="list" class="footer_bottom_list">
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Privacy Policy</div>
                  </a>
                </div>
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Terms & Conditions</div>
                  </a>
                </div>
                <div data-trigger="hover-other focus-other" role="listitem" class="footer_bottom_item">
                  <a href="#" class="footer_bottom_link_wrap w-inline-block">
                    <div class="footer_bottom_link_text u-text-style-small">Site Map</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-embed-js w-embed w-script">
          <script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll("[data-dynamic-year]").forEach(function (el) {
    el.textContent = new Date().getFullYear();
  });
});
</script>
        </div> {% schema %} {
    "tag": "footer",
    "name": "Footer",
    "class": "footer_wrap",
    "presets": [
        {
            "name": "Footer",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}