<div class="u-display-none">
          
          
          
          
        </div>
        <div class="hero_main_slider_wrap u-position-relative">
          <div class="hero_main_slider_offset">
            <div class="hero_main_slider_element swiper">
              <div class="hero_main_slider_list swiper-wrapper"></div>
            </div>
          </div>
          <div class="hero_main_slider_controls u-container">
            <div class="hero_main_slider_bullet_list">
              <div class="hero_main_slider_bullet_item"></div>
              <div class="hero_main_slider_bullet_item is-active"></div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Hero Main",
    "class": "hero_main_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        }
    ],
    "presets": [
        {
            "name": "Hero Main",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}