<div class="u-container">
          <div class="top">
            <div>
{{ section.settings.text_test }}
</div>
          </div>
          <div class="bottom"></div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Modals",
    "class": "modals_wrap",
    "settings": [
        {
            "id": "text_test",
            "type": "text",
            "label": "Test",
            "default": "This is some text inside of a div block."
        }
    ],
    "presets": [
        {
            "name": "Modals",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}