<div class="u-display-none">
          
          
          
          
        </div> {% schema %} {
    "tag": "div",
    "name": "Modals",
    "class": "modals_wrap",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        }
    ],
    "presets": [
        {
            "name": "Modals",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}