<div class="u-container"></div> {% schema %} {
    "tag": "div",
    "name": "Modals",
    "class": "modals_wrap",
    "presets": [
        {
            "name": "Modals",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}