<div class="placeholder_section"></div> {% schema %} {
    "tag": "div",
    "name": "Placeholder",
    "presets": [
        {
            "name": "Placeholder",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}