<div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
          {% case section.settings.spacing_top %}{% when 'xxsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_top = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_top = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_top = 'var(--_spacing---section-space--large)' %}{% when 'large_medium_off' %}{% assign spacing_top = 'var(--_spacing---section-space--large-medium-off)' %}{% when 'page_top' %}{% assign spacing_top = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_top = '0' %}{% endcase %}{% case section.settings.spacing_bottom %}{% when 'xxsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_bottom = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_bottom = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_bottom = 'var(--_spacing---section-space--large)' %}{% when 'page_top' %}{% assign spacing_bottom = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_bottom = '0' %}{% endcase %}
          <div class="u-embed-css w-embed">
            <style>
  #shopify-section-{{ section.id }} [data-section-spacing] {
    --section-spacing-top: {{ spacing_top }};
    --section-spacing-bottom: {{ spacing_bottom }};
  }
</style>
          </div>
        </div>
        <div class="u-display-none">
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
        </div>
        <div class="seo_content_contain u-container" id="{% if section.settings.section_id != blank %}{{ section.settings.section_id }}{% endif %}">
          
          <div class="seo_content_layout">
            {% render 'heading', tag: 'h2', visually_hidden: section.settings.heading_visually_hidden, tidy_text: section.settings.heading_tidy_text, heading: section.settings.heading, custom_class: 'u-margin-bottom-0', variant: 'u-text-h4-primary', max_width: section.settings.heading_max_width %}
            {% render 'paragraph', tidy_text: section.settings.paragraph_tidy_text, custom_class: 'u-margin-bottom-0', paragraph: section.settings.paragraph, variant: 'u-text-body-large', max_width: section.settings.paragraph_max_width %}
          </div>
          
        </div> {% schema %} {
    "tag": "section",
    "name": "SEO Content",
    "class": "seo_content_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "Abst\u00e4nde"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "Oben",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "large_medium_off",
                    "label": "Gro\u00df | Medium kein Abstand"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "large"
        },
        {
            "type": "select",
            "id": "spacing_bottom",
            "label": "Unten",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "large"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "heading_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<\/p>"
        },
        {
            "type": "number",
            "id": "paragraph_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": -1
        },
        {
            "type": "checkbox",
            "id": "paragraph_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "SEO Content",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}