<div class="u-embed-css w-embed">
          <style>
  .text_carousel_track {
    animation: text-carousel 15s linear infinite;
  }
  @keyframes text-carousel {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>
        </div>
        <div class="u-display-none">
          
          
        </div>
        <div class="u-display-none">
          
          
          
          {% case section.settings.spacing_top %}{% when 'xxsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_top = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_top = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_top = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_top = 'var(--_spacing---section-space--large)' %}{% when 'large_medium_off' %}{% assign spacing_top = 'var(--_spacing---section-space--large-medium-off)' %}{% when 'page_top' %}{% assign spacing_top = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_top = '0' %}{% endcase %}{% case section.settings.spacing_bottom %}{% when 'xxsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xxsmall)' %}{% when 'xsmall' %}{% assign spacing_bottom = 'var(--_spacing---section-space--xsmall)' %}{% when 'small' %}{% assign spacing_bottom = 'var(--_spacing---section-space--small)' %}{% when 'medium' %}{% assign spacing_bottom = 'var(--_spacing---section-space--medium)' %}{% when 'large' %}{% assign spacing_bottom = 'var(--_spacing---section-space--large)' %}{% when 'page_top' %}{% assign spacing_bottom = 'var(--_spacing---section-space--page-top)' %}{% else %}{% assign spacing_bottom = '0' %}{% endcase %}
          <div class="u-embed-css w-embed">
            <style>
  #shopify-section-{{ section.id }} [data-section-spacing] {
    --section-spacing-top: {{ spacing_top }};
    --section-spacing-bottom: {{ spacing_bottom }};
  }
</style>
          </div>
        </div>
        <div class="u-display-none">
          
          
        </div>
        <div class="text_carousel_contain u-container" {% if section.settings.section_id != blank %}id='{{ section.settings.section_id }}'{% endif %}>
          
          <div class="text_carousel_layout">
            <div class="text_carousel_track">
              {% for repeat in (1..3) %}    <div li-for="repeat in (1..3)" class="text_carousel_group">
                                    
                
                            {% for block in section.blocks %}
    {% if block.type == "item" %}
                    <div li-block="Item" class="text_carousel_item">
                                    
                  
                                    <div class="u-display-none">
                    
                    
                  </div>
                                    
                  
                                    {% render 'typography', custom_class: 'u-margin-bottom-0 u-min-width-auto', text: section.settings.text, tag: 'div', variant: 'u-text-h1-secondary', max_width: section.settings.text_max_width %}
                                    
                  
                                    <div class="text_carousel_icon">
                    {% render 'image', width_mobile: 60, image: section.settings.image, object_fit: 'contain' %}
                  </div>
                                    
                
                            </div>
            {% endif %}
{% endfor %}
                            
              
                        </div>
{% endfor %}
            </div>
          </div>
          
        </div> {% schema %} {
    "tag": "section",
    "name": "Text Carousel",
    "class": "text_carousel_wrap u-section",
    "blocks": [
        {
            "name": "Item",
            "type": "item",
            "settings": [
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text",
                    "default": "Lorem ipsum dolor sit amet"
                }
            ]
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "Abst\u00e4nde"
        },
        {
            "type": "select",
            "id": "spacing_top",
            "label": "Oben",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                },
                {
                    "value": "large_medium_off",
                    "label": "Gro\u00df | Medium kein Abstand"
                },
                {
                    "value": "page_top",
                    "label": "Seitenanfang"
                }
            ],
            "default": "xxsmall"
        },
        {
            "type": "select",
            "id": "spacing_bottom",
            "label": "Unten",
            "options": [
                {
                    "value": "none",
                    "label": "Kein Abstand"
                },
                {
                    "value": "xxsmall",
                    "label": "Extra extra klein"
                },
                {
                    "value": "xsmall",
                    "label": "Extra klein"
                },
                {
                    "value": "small",
                    "label": "Klein"
                },
                {
                    "value": "medium",
                    "label": "Mittel"
                },
                {
                    "value": "large",
                    "label": "Gro\u00df"
                }
            ],
            "default": "xxsmall"
        },
        {
            "type": "header",
            "content": "Icon"
        },
        {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
        }
    ],
    "presets": [
        {
            "name": "Text Carousel",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "item"
                }
            ]
        }
    ]
} {% endschema %}