<div class="u-container"></div> {% schema %} {
    "tag": "section",
    "name": "Trust Rating",
    "class": "hero_main_wrap u-section",
    "presets": [
        {
            "name": "Trust Rating",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}