<div class="u-display-none">
          
          
          
          
        </div>
        <div class="u-display-none">
          
          
          
          
          
          
          
        </div>
        <div class="u-container">
          <div data-wf--content-wrapper--variant="left" class="u-content-wrapper w-variant-e85a4315-14bc-e5ef-0d3e-2c8c9ed7d2f1" style="">
            <div class="u-display-contents">
              {% if false %}    <div li-if="false" data-number="20" data-wf--preview-heading--preview-variant="h2" class="u-heading w-variant-433d40c6-c261-f13f-c899-61d2cadf150f w-richtext">
    
                <h2>Lorem ipsum dolor sit amet elit</h2>
                  </div>
{% endif %}
              {% if false %}    <div li-if="false" data-number="60" data-wf--preview-paragraph--preview-variant="inherit" class="u-text u-rich-text w-richtext tester">
    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
{% endif %}
              {% if false %}    <div li-if="false" class="u-button-wrapper">
    
                <div class="u-display-contents">
                  <div data-wf--preview-button-main--preview-variant="primary" data-button=" " data-trigger="hover focus" class="button_main_wrap">
                    <div data-wf--clickable--variant="focus-ring-outside" class="clickable_wrap u-cover-absolute"><button type="button" aria-label="Button Text" class="clickable_btn"></button></div>
                    <div class="button_main_element">
                      <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
                      <div class="button_main_icon u-hide-if-empty"></div>
                    </div>
                  </div>
                  <div data-wf--preview-button-main--preview-variant="primary" data-button=" " data-trigger="hover focus" class="button_main_wrap">
                    <div data-wf--clickable--variant="focus-ring-outside" class="clickable_wrap u-cover-absolute"><button type="button" aria-label="Button Text" class="clickable_btn"></button></div>
                    <div class="button_main_element">
                      <div aria-hidden="true" class="button_main_text u-text-style-main">Button Text</div>
                      <div class="button_main_icon u-hide-if-empty"></div>
                    </div>
                  </div>
                </div>
                  </div>
{% endif %}
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Trust Rating",
    "class": "hero_main_wrap u-section",
    "settings": [
        {
            "type": "header",
            "content": "Sektion"
        },
        {
            "type": "text",
            "id": "section_id",
            "label": "ID"
        },
        {
            "type": "header",
            "content": "\u00dcberschrift"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet elit"
        },
        {
            "type": "select",
            "id": "heading_variant",
            "label": "Stil",
            "options": [
                {
                    "value": "u-text-style-h1",
                    "label": "H1"
                },
                {
                    "value": "u-text-style-h2",
                    "label": "H2"
                },
                {
                    "value": "u-text-style-h3",
                    "label": "H3"
                },
                {
                    "value": "u-text-style-h4",
                    "label": "H4"
                },
                {
                    "value": "u-text-style-h5",
                    "label": "H5"
                },
                {
                    "value": "u-text-style-h6",
                    "label": "H6"
                }
            ],
            "default": "u-text-style-h2"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "HTML-Tag",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ],
            "default": "h2"
        },
        {
            "type": "number",
            "id": "heading_max_width",
            "label": "Maximale Breite",
            "info": "Angabe in Zeichen\/ch. Leer lassen f\u00fcr keine Begrenzung.",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "heading_tidy_text",
            "label": "Ausgewogener Zeilenumbruch",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "heading_visually_hidden",
            "label": "Nur f\u00fcr Screenreader anzeigen",
            "default": false
        }
    ],
    "presets": [
        {
            "name": "Trust Rating",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}